* {
  box-sizing: border-box;
}

#logo {
  margin: -64px 0 0px -160px;
  /* play with these to position the image */
  z-index: 100;
  width: 156px;
  padding: 5px;
}

.byname {
  color: #666666;
}

.logo-font {
  font-family: "Roboto", "San Serif";
    font-weight: 100;

}

h1 {
  margin-top: 0px;
}

.panel-font {
  font-family: "Roboto", "San Serif";
  font-weight: 900;
}

.tab-pane {
  height: 660px;
  overflow: auto;

}

#wall-color {
  position: relative;
  top: -50px;
}
.navbar {
  border: none;
  border-top: 23px solid transparent;
  margin-bottom: 0px;
  min-height: 100px;
}

.navbar-right {
  position: relative;
  top: -36px;
}

.navbar-inverse .navbar-brand {
  color: white;
  font-family: 'Russo One', sans-serif;
  font-size: 15px;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
  margin-left: 150px;
}

.navbar-inverse {
  background-image: none;
  background-color: #d9d9d9;
  border-color: #222222;
}

.navbar-inverse .navbar-nav>li>a {
  color: #d9d9d9;
}

#user-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 31px;
  width: 100%;
  right: 0;
  padding-left: 10px;
  justify-content: flex-end;
  padding-right: 10px;
}

#user-container #user-pic {
  top: -3px;
  position: relative;
  display: inline-block;
  background-image: url("/assets/images/profile_placeholder.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px;
  border-radius: 20px;
}

#user-container #user-name {
  font-size: 16px;
  line-height: 36px;
  padding-right: 10px;
  padding-left: 20px;
  color: white;
}

body {
  margin: 0;
}

.mod-flex {
  margin-left: 100px;
  margin-right: 100px;
}

#room-canvas {
  border: solid 1px;
}

.img-thumbnail {
  margin: 10px;
}

.sideways>li {
    height: 0px;

}

.full-spectrum .sp-palette {
  max-width: 200px;
}

.panel-default>.panel-heading {
  background-image: none;
  background-color: #d9d9d9;
  color: white;
}

.panel-body {
  background: #222;
  color: #eee;
}

/*.tab-pane {
  overflow: auto;
}
*/
.btn-default {
  background-color: #d9d9d9;
  color: white;
  text-shadow: none;
  background-image: none;
  border-color: #dbdbdb;
  border-color: #ccc;
}

.btn-default:focus,
.btn-default:hover {
  background-color: white;
  color: #d9d9d9;
}

#container {
  text-align: center;
}

.clearfix {
  clear: both;
}

*.hidden {
  display: none;
}

@media screen and (max-width: 2500px) {
  #room-canvas {
    width: 1200px; 
    height: 800px;
  }
}

@media screen and (max-width: 2000px) {
  #room-canvas {
    width: 999px; 
    height: 666px;
  }
}

@media screen and (max-width: 1550px) {
  #room-canvas {
    width: 900px; 
    height: 600px;
  }
}

