* {
  box-sizing: border-box;
}

/*#logo {
  margin: -64px 0 0px -160px;*/
  /* play with these to position the image */
  /*z-index: 100;
  width: 156px;
  padding: 5px;
}*/

.byname {
  font-family: "Dancing Script", "Roboto", "San Serif";
  color: #666666;
  font-size: 45px;
}

.logo-font {
  font-family: "Roboto", "San Serif";
  font-weight: 100;
}

.user {
  float: right;
  position: relative;
  top: -98px;
  left: -5px;
  cursor: pointer;
  color: #d9d9d9;
}

.nav-links {
  /*font-family: 'Russo One', sans-serif;*/
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  top: 50px;
  position: relative;
  color: #666666;
  right: 275px;
  font-size: 20px;
  }

.nav-links:hover {
  color: #222222;
}

#sign-in:hover,
#sign-out:hover {
  color: #666666;
}

.account-container{
  float: right;
  position: relative;
  top: -55px;
  left: 85px;
}

h1 {
  margin-top: 0px;
}

.panel-font {
  font-family: "Roboto", "San Serif";
  font-weight: 900;
}

.tab-pane-mod {
  height: 660px;
  overflow: auto;
  direction: rtl;
}

.mod-md-1 {
  padding-right: 0px;
  padding-left: 0px;
  margin-left: -50px;
}

.mod-md-2 {
  margin-left: 40px;
}

#wall-color {
  position: relative;
  top: -50px;
}


/*#login-modal {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
}*/

#login-modal {
  font-family: "Roboto", "San Serif";
  font-weight: 700;
}

div#OR {
  height: 30px;
  width: 30px;
  border: 1px solid #C2C2C2;
  border-radius: 50%;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  font-size: 12px;
  float: left;
  position: absolute;
  left: -16px;
  top: 40%;
  z-index: 1;
  background: #DFDFDF;
}

.navbar {
  border: none;
  border-top: 23px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  margin-bottom: 0px;
  min-height: 100px;
}

.navbar-right {
  position: relative;
  top: -36px;
}

.navbar-inverse .navbar-brand {
  color: white;
  font-family: 'Russo One', sans-serif;
  font-size: 15px;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
  margin-left: 20px;
  line-height: 40px;
}

.navbar-inverse {
  background-image: none;
  background-color: #d9d9d9;
  border-color: #222222;
}

.navbar-inverse .navbar-nav>li>a {
  color: #d9d9d9;
}

.tab-padding {
  padding: 5px 15px;
}

#user-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  right: 0;
  padding-left: 10px;
  justify-content: flex-end;
  padding-right: 10px;
}

#user-container #user-pic {
  top: -3px;
  position: relative;
  display: inline-block;
  background-image: url("../images/profile_placeholder.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px;
  border-radius: 20px;
}

#user-container #user-name {
  font-size: 16px;
  line-height: 36px;
  padding-right: 10px;
  padding-left: 20px;
  color: #454545;
}

.spectrumContainer {
    background: #d9d9d9;
}

.spectrumReplacer {
    background: #d9d9d9;
}

.sp-container {
  width: 240px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

 .sp-palette-container {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.sp-picker-container {
    width: 200px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

body {
  margin: 0;
}

.mod-flex {
  margin-left: 50px;
  margin-right: 50px;
}

#room-canvas {
  border: solid 1px;
}

.img-thumbnail {
  margin: 10px;
}

.sideways>li {
  height: 0px;
  width: 100px;
}

.full-spectrum .sp-palette {
  max-width: 200px;
}

.panel-default>.panel-heading {
  background-image: none;
  background-color: #d9d9d9;
  color: white;
}

.panel-body {
  background: #222;
  color: #eee;
}


/*.tab-pane {
  overflow: auto;
}
*/

.btn-default {
  background-color: #222222;
  color: white;
  text-shadow: none;
  background-image: none;
  border-color: #ccc;
}

.btn-default:focus,
.btn-default:hover {
  background-color: white;
  color: #222222;
}

#container {
  text-align: center;
}

.clearfix {
  clear: both;
}

*.hidden {
  display: none;
}


/*@media screen and (max-width: 2500px) {
  #room-canvas {
    width: 1200px;
    height: 800px;
  }
}

@media screen and (max-width: 2000px) {
  #room-canvas {
    width: 999px;
    height: 666px;
  }
}

@media screen and (max-width: 1550px) {
  #room-canvas {
    width: 900px;
    height: 600px;
  }
}*/